body {
  background-color: #dce6f2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-icon {
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.isfl-logo {
  height: 50px;
}

.github-icon {
  height: 50px;
  margin-right: 20px;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.eddle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  color: rgb(192, 0, 0);
  font-weight: bold;
  margin-top: 30px;
}

.description-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: rgb(192, 0, 0);
  font-weight: bold;
  margin-top: 17px;
}

.guesses {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: gray;
  font-weight: 600;
  margin-top: 17px;
}

.search-bar {
  flex: 1;
  height: 40px;
  max-width: 600px;
  border-radius: 10px;
}

.search-bar::placeholder {
  font-size: 15px;
  padding-left: 3px;
}

table, td {
  width: 700px;
  border: 1px solid #000;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 40px;
  font-size: 20px;
}

th {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  border: 1px solid #000;
}

.table-container {
  display: flex;
  justify-content: center;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.select-box {
  margin-top: 5px;
  width: 500px;
  position: relative;
}

.select-option {
  display: flex;
}

.select-option input {
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  cursor: pointer;
  font-size: 22px;
  padding: 15px 20px;
  border: 1px solid #000;
  outline: 0 !important;
}

.select-option:after {
  content: "";
  border-top: 12px solid #000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
}

.content {
  background-color: #fff;
  position: absolute;
  border-radius: 7px;
  margin-top: 15px;
  width: 500px;
  display: none;
}

.search {
  display: flex;
}

.search input {
  width: 100%;
  font-size: 17px;
  padding: 15px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}

.options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding: 0;
  list-style-type: none;
}

.options li {
  padding: 10px 15px;
  font-size: 21px;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

.options li:hover {
  background-color: #f2f2f2;
}

.select-box.active .content {
  display: block;
}

.select-box.active .select-option:after {
  transform: rotate(-180deg);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#optionSearch {
  margin-top: -16px;
  /* Adjust the negative margin value as needed */
}

.popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
  transition: background-color 500ms ease;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 700px;
  max-width: 90%;
  height: auto;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 10000ms ease-in-out;
  line-height: 30px;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay, .popup.active .content {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.highlight {
  background-color: rgb(255, 255, 107);
}

.highlight-green {
  background-color: rgb(132, 188, 132);
}

.hide {
  display: none;
}

.close {
  background-color: rgb(248, 248, 99);
}

.correct {
  background-color: rgb(89, 180, 89);
}

.added-row {
  background-color: lightgrey;
}
